[submodule "Engine/vendor/SDL"]
	path = Engine/vendor/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "Engine/vendor/spdlog"]
	path = Engine/vendor/spdlog
	url = https://github.com/gabime/spdlog
